body
{background-color: #cbeaed;}
hr
{border-color: grey;
border-style: none;
border-top-style: dotted;
width: 5%;
border-width: 5px;
}
h1
{color: #66BFBF;
font-family: verdana;
font-style: oblique; }
H3
{color: #66BFBF;}
